version: "3.9"

services:
  backend:
    image: bitlink-backend:latest
    container_name: bitlink-backend
    ports:
      - "3000:3000"
    env_file:
      - ./backend/.env
    restart: unless-stopped
