NODE_ENV=
PORT=

METRICS_PORT=
WORKER_METRICS_PORT=

MONGODB_URI=

JWT_SECRET=
JWT_EXPIRES=

BCRYPT_ROUNDS=

BASE_URL=
CLIENT_URL=

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

REDIS_URL=