name: Build Backend Image

on:
  push:
    branches:
      - main

jobs:
  build-backend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Build backend image
        run: |
          docker build \
            -t ghcr.io/${{ github.repository_owner }}/bitlink-backend:${{ github.sha }} \
            ./backend

      - name: Push backend image
        run: |
          docker push ghcr.io/${{ github.repository_owner }}/bitlink-backend:${{ github.sha }}
